In [1]:
import pandas as pd
import numpy as np
import datetime
from user_func import nlp_workflow as nlp

In [2]:
df = pd.read_csv('food_wishes_from2012.csv')
df.head(3)

,Unnamed: 0,video_id,video_title,upload_date,view_count,like_count,comment_count
0,0,CQPLo8hECWg,Twice Baked Potatoes -- How to Make Fancy Stuf...,2012-12-15,4194592,47213,1950
1,1,TsrTU3CJn2c,Irish Shepherd's Pie - Classic Shepherd Pie fo...,2012-03-05,2730866,44230,2843
2,2,wRtGM3f-UBc,How to Flip Food in a Pan Like a Chef!,2012-10-04,2764323,17837,1382

In [3]:
df.drop(columns=['Unnamed: 0'], inplace=True)

In [4]:
df.dtypes

video_id         object
video_title      object
upload_date      object
view_count        int64
like_count        int64
comment_count     int64
dtype: object

In [8]:
df['upload_date'] = pd.to_datetime(df['upload_date'], format='%Y-%m-%d')
df['upload_year'] = df['upload_date'].dt.year
df['upload_month'] = df['upload_date'].dt.month
df['upload_day'] = df['upload_date'].dt.day
df['upload_yearmonth'] = df['upload_date'].dt.to_period('M')

In [6]:
len(df['video_id'].unique()) - df.shape[0]

-14

In [3]:
df['duplicates'] = df['video_id'].duplicated(keep=False)
duplicates = df[df['duplicates'] == True]
duplicates.sort_values('video_id')

,Unnamed: 0,video_id,video_title,upload_date,view_count,like_count,comment_count,duplicates
41,41,4i-blr330n4,"How to ""Turn"" a Mushroom - To Honor Earth Day,...",2012-04-20,283726,4006,277,True
43,43,4i-blr330n4,"How to ""Turn"" a Mushroom - To Honor Earth Day,...",2012-04-20,283726,4006,277,True
40,40,8SLbT652IiQ,Pickled Jalapeno Rings - Make Your Own Pickled...,2012-02-03,885253,10949,468,True
42,42,8SLbT652IiQ,Pickled Jalapeno Rings - Make Your Own Pickled...,2012-02-03,885253,10949,468,True
346,346,DE8EnTymPso,Asparagus Tart Recipe - How to Make a Savory A...,2014-03-25,187064,4437,301,True
365,365,DE8EnTymPso,Asparagus Tart Recipe - How to Make a Savory A...,2014-03-25,187064,4437,301,True
363,363,EVuiTbde80k,Tomato & Mozzarella Salad with Burrata Cheese ...,2014-08-01,214980,5218,492,True
353,353,EVuiTbde80k,Tomato & Mozzarella Salad with Burrata Cheese ...,2014-08-01,214980,5218,492,True
366,366,KHxlKnIS7pY,Grilled Stuffed Calamari - Grilled Sausage-Stu...,2014-06-13,398552,8069,438,True
356,356,KHxlKnIS7pY,Grilled Stuffed Calamari - Grilled Sausage-Stu...,2014-06-13,398552,8069,438,True
359,359,RCqFYhip2Ys,Jerk Chicken Wings - Spicy Jamaican Jerk Hot W...,2014-01-25,1398797,26428,1327,True
349,349,RCqFYhip2Ys,Jerk Chicken Wings - Spicy Jamaican Jerk Hot W...,2014-01-25,1398797,26428,1327,True
280,280,WYjsqeLHS14,Cauliflower Pizza Crust Recipe - Cauliflower P...,2014-02-07,1186920,24909,1229,True
362,362,WYjsqeLHS14,Cauliflower Pizza Crust Recipe - Cauliflower P...,2014-02-07,1186920,24909,1229,True
286,286,dZ_3xKZMOec,Irish Pork Stew Recipe - Pork Stewed with Guin...,2014-03-11,352007,6789,438,True
360,360,dZ_3xKZMOec,Irish Pork Stew Recipe - Pork Stewed with Guin...,2014-03-11,352007,6789,438,True
321,321,dg-Wd3dNp6Q,Creamy Asparagus & Cauliflower Soup - Simple A...,2014-05-22,208695,5485,295,True
361,361,dg-Wd3dNp6Q,Creamy Asparagus & Cauliflower Soup - Simple A...,2014-05-22,208695,5485,295,True
371,371,hHYmOefRNLk,Bok Choy Rice - Easy Bok Choy Steamed Rice Recipe,2014-08-07,230378,5311,444,True
357,357,hHYmOefRNLk,Bok Choy Rice - Easy Bok Choy Steamed Rice Recipe,2014-08-07,230378,5311,444,True
369,369,hpOWaXzVdPg,Spinach & Leek Torta di Riso -- Savory Italian...,2014-06-17,156527,4007,211,True
341,341,hpOWaXzVdPg,Spinach & Leek Torta di Riso -- Savory Italian...,2014-06-17,156527,4007,211,True
364,364,lbXw1uRlkeY,"Video 1,000! Your Most Frequently Asked Questions",2014-09-16,298528,19685,2368,True
306,306,lbXw1uRlkeY,"Video 1,000! Your Most Frequently Asked Questions",2014-09-16,298528,19685,2368,True
367,367,nPupiqnRh-A,How to Make a Brick Grill - DIY Temporary Bric...,2014-06-19,2932845,34410,962,True
355,355,nPupiqnRh-A,How to Make a Brick Grill - DIY Temporary Bric...,2014-06-19,2932845,34410,962,True
326,326,soFt2tL780M,Pork Recipe Fail - How Not to Make Roast Pork ...,2014-02-22,204092,5425,572,True
368,368,soFt2tL780M,Pork Recipe Fail - How Not to Make Roast Pork ...,2014-02-22,204092,5425,572,True

In [6]:
df['duplicates'] = df['video_id'].duplicated(keep='last')
df = df[df['duplicates'] == False]
df.drop(columns=['duplicates'], inplace=True)
df.shape[0]

1118

In [9]:
df.groupby('upload_yearmonth').sum()

,Unnamed: 0,view_count,like_count,comment_count,upload_year,upload_month,upload_day
upload_yearmonth,,,,,,,
2012-01,975,6046941,96394,8131,24144,12,186
2012-02,659,16977317,210647,11742,24144,24,168
2012-03,733,9596025,169435,10616,24144,36,190
2012-04,486,9023302,124481,7167,18108,36,121
2012-05,846,8362327,125887,8076,24144,60,164
...,...,...,...,...,...,...,...
2021-11,11569,2576718,82739,4309,22231,121,156
2021-12,10600,3878854,114517,5527,20210,120,154
2022-01,14516,4732117,125758,6507,26286,13,207
2022-02,13383,2451206,93508,4956,24264,24,170
2022-03,5596,530099,28268,1434,10110,15,30