In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('food_wishes_from2012.csv')
df.head(3)

,Unnamed: 0,video_id,video_title,upload_date,view_count,like_count,comment_count
0,0,CQPLo8hECWg,Twice Baked Potatoes -- How to Make Fancy Stuf...,2012-12-15,4194592,47213,1950
1,1,TsrTU3CJn2c,Irish Shepherd's Pie - Classic Shepherd Pie fo...,2012-03-05,2730866,44230,2843
2,2,wRtGM3f-UBc,How to Flip Food in a Pan Like a Chef!,2012-10-04,2764323,17837,1382

In [4]:
df = df.drop(columns=['Unnamed: 0'])

In [5]:
df['upload_date'] = pd.to_datetime(df['upload_date'], format='%Y-%m-%d')

In [6]:
df.dtypes

video_id                 object
video_title              object
upload_date      datetime64[ns]
view_count                int64
like_count                int64
comment_count             int64
dtype: object

In [7]:
df['upload_year'] = df['upload_date'].dt.year
df['upload_month'] = df['upload_date'].dt.month
df['upload_day'] = df['upload_date'].dt.day

In [9]:
df.groupby('upload_year').count()

,video_id,video_title,upload_date,view_count,like_count,comment_count,upload_month,upload_day
upload_year,,,,,,,,
2012,138,138,138,138,138,138,138,138
2013,121,121,121,121,121,121,121,121
2014,120,120,120,120,120,120,120,120
2015,107,107,107,107,107,107,107,107
2016,91,91,91,91,91,91,91,91
2017,94,94,94,94,94,94,94,94
2018,93,93,93,93,93,93,93,93
2019,96,96,96,96,96,96,96,96
2020,121,121,121,121,121,121,121,121
2021,121,121,121,121,121,121,121,121
2022,30,30,30,30,30,30,30,30

In [10]:
len(df['video_id'].unique())

1118