In [1]:
import pandas as pd

In [3]:
df = pd.read_csv(
    '/Users/Arthur/Dropbox/YouTube_channel_analysis/food_wishes_from2012.csv'
)

df.head(3)

,Unnamed: 0,video_id,video_title,upload_date,view_count,like_count,comment_count
0,0,CQPLo8hECWg,Twice Baked Potatoes -- How to Make Fancy Stuf...,2012-12-15,4194422,47208,1950
1,1,TsrTU3CJn2c,Irish Shepherd's Pie - Classic Shepherd Pie fo...,2012-03-05,2730601,44227,2843
2,2,wRtGM3f-UBc,How to Flip Food in a Pan Like a Chef!,2012-10-04,2764300,17836,1383

In [4]:
df = df.drop(columns=['Unnamed: 0'])

In [5]:
df['upload_date'] = pd.to_datetime(df['upload_date'], format='%Y-%m-%d')

In [6]:
df.dtypes

video_id                 object
video_title              object
upload_date      datetime64[ns]
view_count                int64
like_count                int64
comment_count             int64
dtype: object

In [8]:
df['upload_year'] = df['upload_date'].dt.year
df['upload_month'] = df['upload_date'].dt.month
df['upload_day'] = df['upload_date'].dt.day

In [14]:
df.groupby('upload_year').sum()

             view_count  like_count  comment_count  upload_month  upload_day
upload_year
2012           81142427     1278458          76322           587        1408
2013           98461871     1796755          98200           611        1451
2014           67626538     1321696          74577           640        1518
2015           88340420     1899651          86981           569        1428
2016           44467816     1026891          37117           287         692
2017           49244770     1179175          41361           265         754
2018           32547732      928717          54186           310         793
2019           34239910     1092654          60258           267         743
2020           31517537     1325967          79616           631        1576
2021           22147795     1016013          61297           600        1475
2022            7666915      245821          12787            52         407